{{> navbar}}

<div class="midcontent">
  <h1>Welcome back, {{username}}</h1>
  <button>
    <a href="/clinician/register_patient">Register new patient</a>
  </button>

  <table>
    <tr>
      <th class="intro">Patient Name</th>
      <th class="intro">Date of Record</th>
      <th class="intro">Blood Glucose Level (mmol/L)</th>
      <th class="intro">Weight (kg)</th>
      <th class="intro">Doses of Insulin Taken</th>
      <th class="intro">Exercise (kcal)</th>
      <th class="intro">Message</th>
      <th class="intro">Patient Link</th>

    </tr>

    {{#each patients}}
      <tr>
        <td>{{name}}</td>
        <td>{{mostRecentRecord.date}}</td>
        <td>{{mostRecentRecord.glucose}}</td>
        <td>{{mostRecentRecord.weight}}</td>
        <td>{{mostRecentRecord.insulin}}</td>
        <td>{{mostRecentRecord.exercise}}</td>
        <td>
          <a href="{{patientURL}}">
            <button>
              Patient
            </button>
          </a>
        </td>
      </tr>
    {{/each}}
  </table>
</div>