{{> navbar}}

<div class="midcontent">
  <h1>Welcome back, {{username}}</h1>
  <a href="/clinician/register_patient">
    <button>
      Register new patient
    </button>
  </a>
  
  <a href="/clinician/comments">
    <button>
    See patient comments
    </button>
  </a>

  <table>
    <tr>
      <th class="intro">Patient Name</th>
      <th class="intro">Date of Record</th>
      <th class="intro">Blood Glucose Level (mmol/L)</th>
      <th class="intro">Weight (kg)</th>
      <th class="intro">Doses of Insulin Taken</th>
      <th class="intro">Exercise (kcal)</th>
      <th class="intro">Support Message</th>
      <th class="intro">Patient Link</th>

    </tr>

    {{#each patients}}
      <tr>
        <td>{{name}}</td>
        <td>{{mostRecentRecord.date}}</td>

         {{#if insideSafetyThreshold.glucose}}
          <td>{{mostRecentRecord.glucose}}<br />{{mostRecentRecord.glucoseComment}}</td>
        {{else}}
          <td class="outsideSafetyThreshold">{{mostRecentRecord.glucose}}<br
            />{{mostRecentRecord.glucoseComment}}</td>
        {{/if}}

        {{#if insideSafetyThreshold.weight}}
          <td>{{mostRecentRecord.weight}}<br />{{mostRecentRecord.weightComment}}</td>
        {{else}}
          <td class="outsideSafetyThreshold">{{mostRecentRecord.weight}}<br
            />{{mostRecentRecord.weightComment}}</td>
        {{/if}}

        {{#if insideSafetyThreshold.insulin}}
          <td>{{mostRecentRecord.insulin}}<br />{{mostRecentRecord.insulinComment}}</td>
        {{else}}
          <td class="outsideSafetyThreshold">{{mostRecentRecord.insulin}}<br
            />{{mostRecentRecord.insulinComment}}</td>
        {{/if}}

        {{#if insideSafetyThreshold.exercise}}
          <td>{{mostRecentRecord.exercise}}<br />{{mostRecentRecord.exerciseComment}}</td>
        {{else}}
          <td class="outsideSafetyThreshold">{{mostRecentRecord.exercise}}<br
            />{{mostRecentRecord.exerciseComment}}</td>
        {{/if}}

        <td>{{supportMessage}}</td>

        <td>
          <a href="{{patientURL}}">
            <button>
              {{name}}
            </button>
          </a>
        </td>
      </tr>
    {{/each}}
  </table>
</div>