<div class="topnav">
  <a class="active" href="./logout">Back</a>
  <h1><b>DASHBOARD</b></h1>
</div>

<div class="midcontent">
  <h1>How are you, {{givenName}}</h1>
</div>

{{#if supportMessage}}
  <div class="midcontent">
    <h1>Support Message: {{supportMessage}}</h1>
  </div>
{{/if}}

<div style="width:100%; text-align:center">
  <p class="alert">{{errorMessage}}</p>
</div>

{{#if showEngagementBadge}}
  <div style="width:100%; text-align:center">
    <img style="width:15vw;height:15vh" src="/star.svg" />
    <h4>Congratulations for achieving a fantastic engagement rate! Keep up the
      good work and good health.</h4>
  </div>
{{/if}}

<div style="width:100%; text-align:center">
  <h2>Leaderboard</h2>
  <table>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Engagement Rate</th>
    </tr>

    {{#each leaderboard}}
      <tr>
        <td>{{rank}}</td>
        <td>{{screenName}}</td>
        <td>{{engagementRate}}</td>
      </tr>
    {{/each}}
  </table>
</div>

<div class="GPcontent">
  <div class="Parentcontent">
    <h3>{{formMessage}}</h3>

    <form action="/patient/home" , method="post" id="addRecordForm">
      {{#if displayGlucose}}
        <div class="content-gap">
          <label for="BGLInput">Blood Glucose Level(mmol/L): </label>
          <input
            type="number"
            name="glucose"
            min={{validation.glucoseLowerLimit}}
            max={{validation.glucoseUpperLimit}}
          />
        </div>
        <div class="content-gap" style="{{glucoseStyle}}">
          <label for="BGLInput">Blood Glucose Level Comment: </label>
          <input type="text" name="glucoseComment" />
        </div>
      {{/if}}

      {{#if displayWeight}}
        <div class="content-gap">
          <label for="WeightInput">Weight(kg): </label>
          <input
            type="number"
            name="weight"
            min={{validation.weightLowerLimit}}
            max={{validation.weightUpperLimit}}
          />
        </div>
        <div class="content-gap" style="{{weightStyle}}">
          <label for="WeightInput">Weight Comment: </label>
          <input type="text" name="weightComment" />
        </div>
      {{/if}}

      {{#if displayInsulin}}
        <div class="content-gap" style="{{insulinStyle}}">
          <label for="DILInput">Doses Insulin Taken: </label>
          <input
            type="number"
            name="insulin"
            min={{validation.insulinLowerLimit}}
            max={{validation.insulinUpperLimit}}
          />
        </div>
        <div class="content-gap" style="{{insulinStyle}}">
          <label for="DILInput">Insulin Comment: </label>
          <input type="text" name="insulinComment" />
        </div>
      {{/if}}

      {{#if displayExercise}}
        <div class="content-gap" style="{{exerciseStyle}}">
          <label for="ExerciseInput">Exercise(kcal): </label>
          <input
            type="number"
            name="exercise"
            min={{validation.exerciseLowerLimit}}
            max={{validation.exerciseUpperLimit}}
          />
        </div>
        <div class="content-gap" style="{{exerciseStyle}}">
          <label for="ExerciseInput">ExerciseComment: </label>
          <input type="text" name="exerciseComment" />
        </div>
      {{/if}}

      <button type="submit" id="submitButton" class="sendbn">Send</button>
    </form>
  </div>
</div>

<div class="midcontent1">
  <table>
    <tr>
      <th>Date</th>
      <th>Blood Glucose Level (mmol/L)</th>
      <th>Weight(kg)</th>
      <th>Doses of Insulin Taken</th>
      <th>Exercise(kcal)</th>
    </tr>

    {{#each records}}
      <tr>
        <td>{{date}}</td>

        {{#if insideSafetyThreshold.glucose}}
          <td>{{glucose}}<br />{{glucoseComment}}</td>
        {{else}}
          <td class="outsideSafetyThreshold">{{glucose}}<br
            />{{glucoseComment}}</td>
        {{/if}}

        {{#if insideSafetyThreshold.weight}}
          <td>{{weight}}<br />{{weightComment}}</td>
        {{else}}
          <td class="outsideSafetyThreshold">{{weight}}<br
            />{{weightComment}}</td>
        {{/if}}

        {{#if insideSafetyThreshold.insulin}}
          <td>{{insulin}}<br />{{insulinComment}}</td>
        {{else}}
          <td class="outsideSafetyThreshold">{{insulin}}<br
            />{{insulinComment}}</td>
        {{/if}}

        {{#if insideSafetyThreshold.exercise}}
          <td>{{exercise}}<br />{{exerciseComment}}</td>
        {{else}}
          <td class="outsideSafetyThreshold">{{exercise}}<br
            />{{exerciseComment}}</td>
        {{/if}}
      </tr>
    {{/each}}
  </table>
</div>

<div style="width:30vw">
  <form
    action="/patient/home/changePassword"
    method="post"
    id="changePasswordForm"
  >
    <div class="content-gap">

      <label for="newPassword" class="gap-name"><b>Change Password</b></label>
      <input type="password" name="newPassword" placeholder="New Password" />
      <br />

      <button type="submit">Change Password</button>
    </div>
  </form>
</div>